/dina-dnakey-portal/target/
/dina-dnakey-logic/target/
certs/*.crt
certs/*.key
/audit.log
/m2
/dina-dnakey-portal/data/*
/dina-dnakey-portal/audit.log
/dina-dnakey-portal/nb-configuration.xml
/dina-dnakey-portal/project-initdata.yml
/dina-dnakey-logic/nb-configuration.xml
/docker-compose.local.yml
/project-initdata-local.yml
/project-initdata.yml

/dina-dnakey-portal/.DS_Store
/dina-dnakey-portal/src/main/resources/log4j_disable.properties
*DS_Store
*.tar


